<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <link href="assets/img/favicon.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@2.2.0" async></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/profile.css">
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg  navbar-custom">
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item" style="font-weight:bold; padding:8px; padding-bottom: 0px; padding-top: 0px; margin-left:7px; margin:3px; background-color: #c3073f; text-align: center;">
              <span>HV</span>
            </li>
            <li class="nav-item" > 
              <a class="nav-link" href="./homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contest">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./avatar">Avatar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Header End-->

    <!-- Main content -->
    <div class="main0">
      <div class="welcome">
          <span>Welcome to the Arena of Experts</span>
      </div>

      <!-- <div class="forma">
          <form class="example" action="">
              <input type="text" placeholder="(Under construction)Search by Skills:cpp nodejs reactjs html css mongodb etc." name="search" id="tags">
              <button type="submit"><i class="fa fa-search" style="color:yellow"></i></button>
          </form>
      </div> -->

      <hr style="background-color:white; margin-left: 60px; margin-right: 60px;">

          <div class="container" style="margin-top: 25px; margin-bottom: 25px;">

            <%if(data.length%4==0){%>
              <%for(let i=0;i<data.length;i+=4){%>
                <div class="row" data-aos="fade-up">
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                       <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+2].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+2].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+2].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+2].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+3].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+3].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+3].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+3].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                </div>
              <%}%> 
            <%}%>

            <%if(data.length%4==1){%>
              <%for(let i=0;i<data.length;i+=4){%>
                <%if(data.length>=i+4){%>
                <div class="row" data-aos="fade-up">
                  <div class="col-md-3 col-sm-6">
                      <div class="card">
                        <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                          OOps
                         </svg>
                      <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                      <div class="container">
                        <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                        <div class="row">
                           <div class="col">
                             <ul style="list-style: none;">
                                <%for(let k=0;k<4;k++){%>
                                <%if(data[i].skills.length>=k+1){%>
                                <li><%=data[i].skills[k]%></li>
                                <%} else { %>
                                <li>-</li>
                                <%}%>
                                <%}%>
                             </ul>
                           </div>
                           <div class="col">
                            <ul style="list-style: none;">
                                <%for(let k=4;k<8;k++){%>
                                <%if(data[i].skills.length>=k+1){%>
                                <li><%=data[i].skills[k]%></li>
                                <%} else { %>
                                <li>-</li>
                                <%}%>
                                <%}%>
                            </ul>  
                           </div>
                        </div>
                      </div>
                      <div class="icons">
                        <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                        <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                      </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+2].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+2].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+2].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+2].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+3].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+3].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+3].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+3].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                </div>
                <%} else {%>
                  <div class="row" data-aos="fade-up">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
                  </div>
                <%}%>  
              <%}%> 
            <%}%>

            <%if(data.length%4==2){%>
              <%for(let i=0;i<data.length;i+=4){%>
                <%if(data.length>=i+4){%>
                <div class="row" data-aos="fade-up">
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+2].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+2].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+2].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+2].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+3].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+3].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+3].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+3].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                </div>
                <%} else {%>
                  <div class="row" data-aos="fade-up">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i+1].skills.length>=k+1){%>
                                      <li><%=data[i+1].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i+1].skills.length>=k+1){%>
                                      <li><%=data[i+1].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
                  </div>
                <%}%>  
              <%}%> 
            <%}%>

            <%if(data.length%4==3){%>
              <%for(let i=0;i<data.length;i+=4){%>
                <%if(data.length>=i+4){%>
                <div class="row" data-aos="fade-up">
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i].skills.length>=k+1){%>
                                  <li><%=data[i].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+1].skills.length>=k+1){%>
                                  <li><%=data[i+1].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+2].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+2].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+2].skills.length>=k+1){%>
                                  <li><%=data[i+2].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+2].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+2].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="card">
                      <svg data-jdenticon-value="<%=data[i+3].name%>" width="100%">
                        OOps
                       </svg>
                        <h3 style="padding-top:5px;"><%=data[i+3].name%></h3>
                        <div class="container">
                          <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                          <div class="row">
                             <div class="col">
                               <ul style="list-style: none;">
                                  <%for(let k=0;k<4;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                               </ul>
                             </div>
                             <div class="col">
                              <ul style="list-style: none;">
                                  <%for(let k=4;k<8;k++){%>
                                  <%if(data[i+3].skills.length>=k+1){%>
                                  <li><%=data[i+3].skills[k]%></li>
                                  <%} else { %>
                                  <li>-</li>
                                  <%}%>
                                  <%}%>
                              </ul>  
                             </div>
                          </div>
                        </div>
                        <div class="icons">
                          <a href="<%=data[i+3].glink%>"><i class="fa fa-github"></i></a> 
                          <a href="<%=data[i+3].clink%>"><i class="fa fa-link" ></i></a> 
                        </div>
                        </div>
                  </div>
                </div>
                <%} else {%>
                  <div class="row" data-aos="fade-up">
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i].skills.length>=k+1){%>
                                      <li><%=data[i].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
          
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i+1].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i+1].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i+1].skills.length>=k+1){%>
                                      <li><%=data[i+1].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i+1].skills.length>=k+1){%>
                                      <li><%=data[i+1].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i+1].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i+1].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
                  
                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                          <svg data-jdenticon-value="<%=data[i+2].name%>" width="100%">
                            OOps
                           </svg>
                            <h3 style="padding-top:5px;"><%=data[i+2].name%></h3>
                            <div class="container">
                              <p style="padding:5px; background-color: #283747; color:rgb(173, 171, 171);" >Skills</p>
                              <div class="row">
                                 <div class="col">
                                   <ul style="list-style: none;">
                                      <%for(let k=0;k<4;k++){%>
                                      <%if(data[i+2].skills.length>=k+1){%>
                                      <li><%=data[i+2].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                   </ul>
                                 </div>
                                 <div class="col">
                                  <ul style="list-style: none;">
                                      <%for(let k=4;k<8;k++){%>
                                      <%if(data[i+2].skills.length>=k+1){%>
                                      <li><%=data[i+2].skills[k]%></li>
                                      <%} else { %>
                                      <li>-</li>
                                      <%}%>
                                      <%}%>
                                  </ul>  
                                 </div>
                              </div>
                            </div>
                            <div class="icons">
                              <a href="<%=data[i+2].glink%>"><i class="fa fa-github"></i></a> 
                              <a href="<%=data[i+2].clink%>"><i class="fa fa-link" ></i></a> 
                            </div>
                            </div>
                    </div>
                  </div>
                <%}%>  
              <%}%> 
            <%}%>
          </div>
    <!-- Main content Ends here -->
    <hr style="background-color:white; margin-left: 60px; margin-right: 60px;">
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <!-- Footer -->
    <footer>
        <div>
          <ul>
            <li class="fid">
              Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> By <span><a style="text-decoration: none; color:#c3073f;" href="http://www.maskmanlucifer.live/">maskman_lucifer</a></span>
            </li>
            <li class="fid">
              <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
            </li>
          </ul>
        </div>
      </footer>
      <!-- Footer Ends-->
    <script src="/assets/js/profile.js"></script>
</body>
</html>